* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

.bg {
    position: absolute;
    background-image: url(../img/sfondo.svg);
    width: 1920px;
    height: 1200px;
}

.form {
    margin: 200px auto;
    width: 800px;
    height: 800px;
    background-color: black;
}