* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

.debug {
    /* border: 1px solid red; */
    min-height: 100px;
}

header {
    background-color: #255EE9;

}

footer {
    background-color: #23272a;
    color: white;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.btn {
    display: block;
    background-color: white;
    border-radius: 20px;
    padding: 10px 12px;
    text-decoration: none;
    color: #23272a;


}

ul {
    list-style-type: none;
    color: white;
    padding-top: 0px;
    font-size: 20px;
}
header li{
    padding-right: 20px;
}

.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

}

.bg-grey {
    background-color: beige;
}

header nav ul {
    min-width: 500px;
}

.cursore {
    cursor: pointer;

}

.hero {
    background-image: url('../img/jumbo.png');
    background-size: cover;
    height: 600px;

}

h1 {
    color: white;
    text-align: center;
    font-size: 60px;
    padding-top: 70px;
    margin-bottom: 30px;
}

header p {
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 22px;

}

.spazio {
    margin-top: 50px;
}

.btn-nero {
    display: block;
    background-color: #23272a;
    border-radius: 25px;
    padding: 10px 12px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;


}

.btn-bianco {
    display: block;
    background-color: white;
    border-radius: 25px;
    padding: 10px 12px;
    color: #23272a;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;


}

.flex-center {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 30px;
}

.marigine-bottone {
    margin: 10px;
}

main {

    text-align: center;

}

.clearfix::after {
    clear: both;
    display: block;
    content: "";
}

.float-left {
    float: left;

}

.float-right {
    float: right;

}

.centrato-sinistra {
    width: 520px;
    height: 200px;
    text-align: left;
    padding-left: 150px;
}



.padre {
    margin-right: 30px;
    width: 1200px;
    margin: auto;
    text-align: center;
}

p {
    font-size: 20px;
    padding-top: 30px;

}

.centrato-destra {
    width: 520px;
    height: 200px;
    text-align: left;
    padding-left: 150px;

}

.nonno {
    height: 700px;
    padding-top: 100px;

}

.nonno-2 {
    height: 700px;
    background-color: #F6F6F6;
    padding-top: 100px;
    padding-right: 260px;
}

.nonno-3 {
    height: 700px;
    background-color: white;
    padding-top: 100px;

}

.nonno-4 {
    height: 1300px;
    background-color: #F6F6F6;
    padding-top: 100px;
    text-align: center;

}

.spaziatura {
    line-height: 30px;
    font-size: 20px;
    
}
.spaziatura-2 {
    padding: 30px 70px;
    line-height: 30px;
    font-size: 21px;
    
}


.btn-viola {
    background-color: #8EA1E1;
    border-radius: 25px;
    padding: 8px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    align-self: flex-start;


}

.flexcontainer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 1170px;
    margin: 0 auto;
    padding-top: 80px;

    border-bottom: 2px solid #8EA1E1;
    padding-bottom: 30px;
}

.flexcontainer-2 {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
    padding-top: 50px;
    height: 240px;

}

h4 {
    color: #8EA1E1;
}

h3 {
    color: #8EA1E1;
}

h2 {
    padding-top: 30px;
    font-size: 50px;
}

a {
    text-decoration: none;
    padding-top: 30px;
}

.bianco {
    color: white;
}

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;

}

.list {

    width: calc(100% /6);
}

.list-1 {

    width: calc((100% /6) * 2);
}

.wave {
    color: #F6F6F6;
}

.wave-2 {
    color: #F6F6F6;
    transform: rotate(180deg);
}
.paragrafo-stellina{

    font-size: 30px;
}
.sfondoStellina{
    background-image: url(../img/stars.svg);
    height: 60px;
    width: 510px;
    margin: auto;
    margin-bottom: 50px;
}

