* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}
body{
    background-image: url(../img/sfondo.svg);
    /* width: auto;
    height: 1200px; */
    background-image: ;
}